.pageTop {
  position: fixed;
  bottom: var(--side-margin);
  right: var(--side-margin);
  display: block;
  z-index: 999;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  transition: opacity 0.25s;
}

.pageTop:hover {
  background-color: #000;
  border: 1px solid #000;
}

.pageTop__arr {
  width: 8px;
  height: 8px;
  border-top: solid 1px #999;
  border-right: solid 1px #999;
  transform: rotate(-45deg);
  margin-top: 26px;
  margin-left: 24px;
}

.pageTop:hover > #pageTop__arr {
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
}

.opacityON {
  opacity: 0;
}
.opacityOFF {
  opacity: 1;
}
