:root {
  --txt-color: #444;
  --note-color: #999;
  --line-color: #e6e6e6;
  --hover-bg-color: #000;
  --hover-color: #fff;
  --txt-size: 14px;
  --note-size: 12px;
  --height-size: 96px;
  --height-list: 64px;
  --line-weight: 1px;
  --text-margin: 48px;
  --dd-margin: 16px;
  --SP-logo-margin: 8px;
  --width-size: 960px;
  --side-margin: 40px;
  --btn-width: 240px;
}
